<br />
<div class="row">
	<div *ngIf="error" class="alert alert-danger">{{error}}</div>
</div>
<div class="row">
	<div class="col-md-3">
    <br />
    <mat-spinner *ngIf="profileLoading"></mat-spinner>
		<mat-card *ngIf="!profileLoading">
			<mat-card-title>
				{{user.email.split('@')[0]}}
				<button mat-button *ngIf="!isEdit" (click)="isEdit=!isEdit" style="float: right"><i class="far fa-edit"></i></button>
			</mat-card-title>
			<mat-card-subtitle *ngIf="isAdmin">Admin</mat-card-subtitle>
			<div *ngIf="!isEdit">
				<mat-card-content>
					First Name:
					<span>{{user.name.firstname}}</span>
				</mat-card-content>
				<mat-card-content>
					Last Name:
					<span>{{user.name.lastname}}</span>
				</mat-card-content>
			</div>

			<form *ngIf="isEdit" class="example-form">
				<mat-form-field class="example-full-width">
					<input matInput name="firstname" placeholder="First name" [(ngModel)]="user.name.firstname">
				</mat-form-field>

				<mat-form-field class="example-full-width">
					<input matInput name="lastname" placeholder="Last name" [(ngModel)]="user.name.lastname">
				</mat-form-field>
				<br />
				<div class="row">
					<div class="col-md-6"></div>
					<div class="col-md-4">
						<button name="submitBtn" *ngIf="isEdit" mat-raised-button (click)="saveProfile()">Save</button>
					</div>
				</div>
			</form>

		</mat-card>
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-8">
		<h3>Item history</h3>
		<div>
			<mat-form-field>
				<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			</mat-form-field>
		</div>
		<table mat-table class="mat-elevation-z8" matSort [dataSource]="dataSource">

			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
				<mat-cell class="name-cell" *matCellDef="let element">{{element.title}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="initialBidPrice">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Initial Bid Price</mat-header-cell>
				<mat-cell class="initialBidPrice-cell" *matCellDef="let element">{{element.initialBidPrice}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="auctionDateTime">
				<mat-header-cell *matHeaderCellDef mat-sort-header>Scheduled for</mat-header-cell>
				<mat-cell class="auctionDateTime-cell" *matCellDef="let element">{{element.auctionDateTime}}</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

			<mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

		</table>
		<div>
			<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
		</div>
	</div>
</div>
