input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.item-image {
  width:100%;
}

.item-image img {
  width: 100%;
  box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.8);
}

mat-card {
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.7);
}
