<div class="row" *ngIf="item">
  <div class="col-md-7">
    <div class="item-image">
      <img [src]="item.imagePath" [alt]="item.title">
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4">
    <p>{{ item.content }}</p>
    <p>{{ item.date }}</p>
    <p>{{ item.initialBidPrice }}</p>
    <p>{{ item.time.start }}</p>
    <p>{{ item.time.end }}</p>
  </div>
</div>
<div class="row">
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="message" class="alert alert-primary">{{message}}</div>
</div>
