<div class="row">
	<div *ngIf="error" class="alert alert-danger">{{error}}</div>
</div>
<div class="row">
	<div *ngIf="message" class="alert alert-success">{{message}}</div>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="row">
  <div class="col-md-3">
    <br />
    <mat-spinner *ngIf="profileLoading"></mat-spinner>
    <mat-card *ngIf="!profileLoading">
      <mat-card-title>
        {{user.email.split('@')[0]}}
        <button mat-button *ngIf="!isEdit" (click)="isEdit=!isEdit" style="float: right"><i class="far fa-edit"></i></button>
      </mat-card-title>
      <mat-card-subtitle *ngIf="isAdmin">Admin</mat-card-subtitle>
      <div *ngIf="!isEdit">
        <mat-card-content>
          First Name:
          <span>{{user.name.firstname}}</span>
        </mat-card-content>
        <mat-card-content>
          Last Name:
          <span>{{user.name.lastname}}</span>
        </mat-card-content>
      </div>

      <form *ngIf="isEdit" class="example-form" (submit)="updateUserName()">
        <mat-form-field class="example-full-width">
          <input matInput name="firstname" placeholder="First name" [(ngModel)]="user.name.firstname">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput name="lastname" placeholder="Last name" [(ngModel)]="user.name.lastname">
        </mat-form-field>
        <br />
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-4">
            <button name="submitBtn" *ngIf="isEdit" mat-raised-button>Save</button>
          </div>
        </div>
      </form>

    </mat-card>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <h3>Item history</h3>
    <mat-accordion multi="true" *ngIf="items.length > 0  && !isLoading">


      <mat-expansion-panel *ngFor="let item of items">
        <mat-expansion-panel-header>
          <strong>Title: </strong> {{ item.title }}
        </mat-expansion-panel-header>
        <div class="item-image">
          <img [src]="item.imagePath" [alt]="item.title">
        </div>
        <p><strong>Content: </strong>{{ item.content }}</p>
        <p><strong>Date: </strong>{{ item.date }}</p>
        <p><strong>InitialBidPrice: </strong>{{ item.initialBidPrice }}</p>
        <p><strong>Start time: </strong>{{ item.time.start }}</p>
        <p><strong>End time: </strong>{{ item.time.end }}</p>

        <mat-action-row>
          <a mat-button *ngIf="!item.isScheduled" [routerLink]="['/edit',item.id]" color="accent">EDIT</a>
          <a mat-button *ngIf="!item.isScheduled" (click)="deleteItem(item.id)" color="warn">DELETE</a>

          <a mat-button *ngIf="item.isScheduled" [routerLink]="['/bidhistory',item.id]" color="accent">Bid History</a>

          <img *ngIf="deleteLoading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>
    <p class="info-text mat-body-1" *ngIf="items.length <= 0 && !isLoading">No items Added Yet!</p>

  </div>
</div>
