<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="items.length > 0  && !isLoading" >

  <mat-expansion-panel *ngFor="let item of items">
    <mat-expansion-panel-header >
      {{ item.title }}
    </mat-expansion-panel-header>
    <div class="item-image">
      <img [src]="item.imagePath" [alt]="item.title">
    </div>
    <p>{{ item.content }}</p>
    <p>{{ item.date }}</p>
    <p>{{ item.price }}</p>
    <p>{{ item.start }}</p>
    <p>{{ item.end }}</p>

    <mat-action-row>
      <a mat-button [routerLink]="['/edit',item.id]" color="accent">EDIT</a>
      <a mat-button color="warn">DELETE</a>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
<p  class="info-text mat-body-1" *ngIf="items.length <= 0 && !isLoading">No items Added Yet!</p>
